Flask-SQLAlchemy==2.3.2
future==0.16.0
grpcio==1.10.0
gunicorn==19.7.1
httplib2==0.11.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
oauth2client==3.0.0
ply==3.8
protobuf==3.5.2.post1
psutil==5.4.3
psycopg2==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
rsa==3.4.2
six==1.11.0
SQLAlchemy==1.2.5
text-unidecode==1.2
urllib3==1.22
Werkzeug==0.14.1
