* {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	border-color: inherit; text-align: inherit; text-decoration: inherit;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100vh;
	width: 100vw;
	background: #242730;
	font-family: 'Gotham Rounded', sans-serif;
  color: #F5F6F7;
	font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
	position: relative;
}

ul li {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}
.animated {
  transition-duration: 0.5s;
}

[class*="-modal-container"] {
  position: relative;
  height: 100%;
  padding: 50px;
}
.calendar-modal-container {
  padding-right: 25px;
}
.todo-modal-container {
  padding-left: 25px;
}

#calendar-modal, #todo-modal {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#calendar-modal {
  background: #282C36;
}
#todo-modal {
  background: #F5F6F7;
  color: #282C36;
}

#titlebar-icon {
  display: block;
  margin: auto;
}

[class*="-section"] {
  margin-bottom: 24px;
}
[class*="-section"]:last-child {
  margin-bottom: 0;
}

.header-title {
  height: 50px;
}
.header-title .header-text {
  width: calc(100% - 60px);
  line-height: 50px;
}

.image-wrap {
  width: 60px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.fade-left, .fade-right {
  position: absolute;
  width: 25%;
  height: 500px; /* arbitrarily clipped */
  z-index: 100
}
.fade-left {
  left: 0;
  background: linear-gradient(to right, rgba(40,44,54,1) 20%, rgba(0,0,0,0));
}
.fade-right {
  right: 0;
  background: linear-gradient(to left, rgba(40,44,54,1) 20%, rgba(0,0,0,0));
}

.calendar-fade-container-section {
  height: 234px;
  width: 100%;
  overflow-y: hidden;
}

.calendars-container {
  width: 100%;
}

#calendars {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0 50px;
  white-space: nowrap;
}

.calendar-object {
  z-index: 90;
  margin-right: 5vw;
}

.calendar-object:last-child {
  margin-right: 0;
}

.calendar-object .calendar-month-section {
  font-size: 20px;
  color: #5DA395;
}

.calendar-object li {
  display: inline-block;
  width: calc(100% * 1/7);
}

.calendar-object .days {
  flex-wrap: wrap;
}

.calendar-object .days .date {
  margin-bottom: 12px;
  position: relative;
  z-index: 80;
  cursor: pointer;
}

.calendar-object .days .date:not(#today):hover,
.calendar-object .days .date.active:not(#today) {
  transition-property: color;
  color: #5DA395;
}

.calendar-object .days .date#today::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
  left: 50%;
  z-index: -80;
  background: #5DA395;
  border-radius: 50%;
}

.calendar-object .days .date.prev-month,
.calendar-object .days .date.next-month {
  color: #9FA1A5;
}

.schedule-section {
  height: calc(100% - (30px + 24px + 234px + 24px));
}

#schedule-date {
  font-size: 10px;
  color: #9FA1A5;
}

.planner-section {
  height: calc(100% - (50px + 24px));
  overflow: scroll;
}

.hours-container .hour {
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}

.hour .hour-text-wrapper {
  color: #9FA1A5;
}

.hour .hour-line-wrapper::after {
  content: '';
  position: absolute;
  background-color: #242730;
  width: calc(100% - 40px);
  left: 20px;
  right: 20px;
  height: 4px;
  top: 50%;
  margin-top: -2px;
  border-radius: 40px;
}

.course {
  left: calc(8.33% + 50px);
  width: 25%;
  z-index: 300;
  padding: 8px;
}

.course h3 {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 4px;
}
.course h4 {
  font-weight: 300;
  font-size: 10px;
}

.course.a {
  background-color: #E45879;
}
.course.b {
  background-color: #E47D58;
}
.course.c {
  background-color: #2E63BC;
}

.no-results {
	font-size: 20px;
	line-height: 20px;
	top: calc(50% - 10px);
	left: 50%;
	width: 200px;
	margin-left: -100px;
	z-index: 300
}

/* TODO List */

#todo-modal h2 {
  font-size: 20px;
  margin-bottom: 30px;
}
#todo-modal h4 {
  color: #9FA1A5;
  margin-bottom: 30px;
}

#todo-modal .checklist-section {
  margin-bottom: 40px;
}

.checklist-item {
  line-height: 14px;
  margin-left: 14px;
  margin-bottom: 20px;
}

.checklist-item .item {
  margin-left: 20px;
}

.pie-checkmark {
  width: 14px;
  height: 14px;
}
.pie-checkmark::after { /* border */
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 16px;
  height: 16px; border-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.pie-checkmark.very-low {
  background-color: #5DA395;
  border-color: #5DA395;
  background-image: linear-gradient(to right, transparent 50%, #ffffff 0)
}
.pie-checkmark.very-low::before {
  content: '';
  background-color: inherit;
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(.2turn);
}
.pie-checkmark.low {
  background-color: #2E63BC;
  border-color: #2E63BC;
  background-image: linear-gradient(to right, transparent 50%, #ffffff 0)
}
.pie-checkmark.low::before {
  content: '';
  background-color: inherit;
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(.4turn);
}
.pie-checkmark.med {
  background-color: #F3D24B;
  border-color: #F3D24B;
  background-image: linear-gradient(to right, transparent 50%, #ffffff 0)
}
.pie-checkmark.med::before {
  content: '';
  background-color: inherit;
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: #ffffff;
  transform-origin: left;
  transform: rotate(.1turn);
}
.pie-checkmark.high {
  background-color: #E47D58;
  border-color: #E47D58;
  background-image: linear-gradient(to right, transparent 50%, #ffffff 0)
}
.pie-checkmark.high::before {
  content: '';
  background-color: inherit;
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: #ffffff;
  transform-origin: left;
  transform: rotate(.3turn);
}
.pie-checkmark.very-high {
  background-color: #E45879;
  border-color: #E45879;
  background-image: linear-gradient(to right, transparent 50%, #ffffff 0)
  animation: pulse 2s infinite;
}
.pie-checkmark.very-high::before {
  content: '';
  background-color: inherit;
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
}
