{% extends "main.html" %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
  <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block content %}
  <div class="body-wrapper row">

    <div class="calendar-modal-container col col-8">
      <div id="calendar-modal" class="rounded">
        <div class="titlebar-section">
          <img id="titlebar-icon" src="{{ url_for('static', filename='img/calendar.svg') }}" />
        </div>

        <div class="calendar-fade-container-section relative">
          <div class="fade-left absolute clickable"></div>
          <div class="fade-right absolute clickable"></div>

          <div class="calendars-container">
            <div id="calendars" >
              <!-- NOTE: insert calendar objects HERE -->
            </div>
          </div>
        </div>

        <div class="schedule-section">
          <div class="title-section">
            <div class="header-title row">
              <div class="image-wrap col"
                style="background-image: url('{{ url_for('static', filename='img/star.svg') }}')">
              </div>
              <div class="header-text col">
                <span id="schedule-time" class="col">Today</span>
                <span id="schedule-date" class="col right"></span>
              </div>
            </div>
          </div>

          <div class="planner-section">

            <div id="detail-modal" class="absolute rounded"></div>
            <div id="create-modal" class="absolute rounded">
              <div class="close-container relative">
                <div id="close-create" class="absolute clickable">X</div>
              </div>
              <h2>Create course</h2>
              <div id="createDaysOfWeek" class="center">
                <input type="checkbox" data-value="0"> Sunday
                <input type="checkbox" data-value="1"> Monday
                <input type="checkbox" data-value="2"> Tuesday
                <input type="checkbox" data-value="3"> Wednesday
                <input type="checkbox" data-value="4"> Thursday
                <input type="checkbox" data-value="5"> Friday
                <input type="checkbox" data-value="6"> Saturday
              </div>

              <div id="createDates" class="entry-log row">
                <div id="createStartDate" class="col col-6">
                  <p>Start Date</p>
                  <div class="input-container row">
                    <input placeholder="dd" type="text" name="startDay" class="col col-4">
                    <input placeholder="mm" type="text" name="startMonth" class="col col-4">
                    <input placeholder="yy" type="text" name="startYear" class="col col-4">
                  </div>
                </div>
                <div id="createEndDate" class="col col-6">
                  <p>End Date</p>
                  <div class="input-container row">
                    <input placeholder="dd" type="text" name="endDay" class="col col-4">
                    <input placeholder="mm" type="text" name="endMonth" class="col col-4">
                    <input placeholder="yy" type="text" name="endYear" class="col col-4">
                  </div>
                </div>
              </div>

              <div id="createTimes" class="entry-log row">
                <div id="createStartTime" class="col col-6">
                  <p>Start Time</p>
                  <div class="input-container row">
                    <input placeholder="hh" type="text" name="startHour" class="col col-6">
                    <input placeholder="mm" type="text" name="startMinute" class="col col-6">
                  </div>
                </div>
                <div id="createEndTime" class="col col-6">
                  <p>End Time</p>
                  <div class="input-container row">
                    <input placeholder="hh" type="text" name="endHour" class="col col-6">
                    <input placeholder="mm" type="text" name="endMinute" class="col col-6">
                  </div>
                </div>
              </div>

              <div id="createLocation" class="entry-log row">
                <p>Location</p>
                <div class="input-container row">
                  <input placeholder="hh" type="text" name="location" class="col col-12">
                </div>
              </div>

              <div id="createTeacher" class="entry-log row">
                <p>Teacher</p>
                <div class="input-container row">
                  <input placeholder="teacher id" type="text" name="teacherid" value="43" class="col col-12">
                </div>
              </div>

              <button id="create-course-button" class="clickable rounded">Create course</button>
            </div>

            <div class="hours-container relative">

              <div id="planner" class="absolute planner-course-wrapper">
                <!-- NOTE: insert course elements here -->
              </div>

              <div class="hour row" data-hour="0">
                <div class="hour-text-wrapper col col-1 right-align">12 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="1">
                <div class="hour-text-wrapper col col-1 right-align">1 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="2">
                <div class="hour-text-wrapper col col-1 right-align">2 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="3">
                <div class="hour-text-wrapper col col-1 right-align">3 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="4">
                <div class="hour-text-wrapper col col-1 right-align">4 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="5">
                <div class="hour-text-wrapper col col-1 right-align">5 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="6">
                <div class="hour-text-wrapper col col-1 right-align">6 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="7">
                <div class="hour-text-wrapper col col-1 right-align">7 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="8">
                <div class="hour-text-wrapper col col-1 right-align">8 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="9">
                <div class="hour-text-wrapper col col-1 right-align">9 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="10">
                <div class="hour-text-wrapper col col-1 right-align">10 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="11">
                <div class="hour-text-wrapper col col-1 right-align">11 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="12">
                <div class="hour-text-wrapper col col-1 right-align">12 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="13">
                <div class="hour-text-wrapper col col-1 right-align">1 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="14">
                <div class="hour-text-wrapper col col-1 right-align">2 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="15">
                <div class="hour-text-wrapper col col-1 right-align">3 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="16">
                <div class="hour-text-wrapper col col-1 right-align">4 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="17">
                <div class="hour-text-wrapper col col-1 right-align">5 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="18">
                <div class="hour-text-wrapper col col-1 right-align">6 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="19">
                <div class="hour-text-wrapper col col-1 right-align">7 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="20">
                <div class="hour-text-wrapper col col-1 right-align">8 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="21">
                <div class="hour-text-wrapper col col-1 right-align">9 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="22">
                <div class="hour-text-wrapper col col-1 right-align">10 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="23">
                <div class="hour-text-wrapper col col-1 right-align">11 PM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>
              <div class="hour row" data-hour="24">
                <div class="hour-text-wrapper col col-1 right-align">12 AM</div>
                <div class="hour-line-wrapper col col-11 relative"></div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="todo-modal-container col col-4">
      <div id="todo-modal" class="rounded">
        <h2>To-do list</h2>

        <h4>LOOKOUT FOR</h4>
        <div id="priority-checklist" class="priority-assignments checklist-section">
          <div class="checklist-item row">
            <div class="pie-checkmark very-high circle relative col"></div>
            <div class="item col" contenteditable>COMS 4111 - Project 3</div>
          </div>
          <div class="checklist-item row">
            <div class="pie-checkmark high circle relative col"></div>
            <div class="item col" contenteditable>COMS 4111 - Project 3</div>
          </div>
          <div class="checklist-item row">
            <div class="pie-checkmark med circle relative col"></div>
            <div class="item col" contenteditable>COMS 4111 - Project 3</div>
          </div>
          <div class="checklist-item row">
            <div class="pie-checkmark low circle relative col"></div>
            <div class="item col" contenteditable>COMS 4111 - Project 3</div>
          </div>
          <div class="checklist-item row">
            <div class="pie-checkmark very-low circle relative col"></div>
            <div class="item col" contenteditable>COMS 4111 - Project 3</div>
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock %}
